<!DOCTYPE html>
<html lan="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base::Layout(~{::section})}">
<head>

<title>Insert title here</title>
</head>
<body>

<section>
<div class="container">
  <div class="row col-md-8 offset-md-2">
    <div class="card">
      <div class="card-header">
          <h2 class="text-center">Login Page</h2>
      </div>
          <th:block th:if="${param.error}">
         <p class="text-center text-danger fs-5" >[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
          </th:block>
          
          <th:block th:if="${param.logout}">
         <p class="text-center text-success fs-5" >Logout successfully !!</p>
          </th:block>
          
         
        <div class="card-body">
          <form
            method="post"
            role="form"
            th:action="@{/userLogin}"
         
          > 

            <div class="form-group mb-3">
              <label class="form-label">Email</label>
              <input
                      class="form-control"
                      id="username"
                      name="username"
                      placeholder="Enter username"
                      type="email"
              />
            </div>

            <div class="form-group mb-3">
              <label class="form-label">Password</label>
              <input
                      class="form-control"
                      id="password"
                      name="password"
                      placeholder="Enter password"
                      type="password"
              />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" type="submit">Login</button>
             
            </div>
          </form>
      </div>
    </div>
  </div>
</div>
</section>

</body>
</html>